<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestService" />
                <binding name="BasicHttpBinding_IMessageService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ITestService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ITestServiceWithCallbacks">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/TestSingleSvc/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITestService" contract="ServiceHttp.ITestService"
                name="BasicHttpBinding_ITestService" />
            <endpoint address="net.tcp://localhost:12345/TestSingleSvc/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITestService"
                contract="ServiceNetTcp.ITestService" name="NetTcpBinding_ITestService" />
            <endpoint address="net.tcp://localhost:12345/TestSingleWithCallbacksSvc/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITestServiceWithCallbacks"
                contract="ServiceWithCallbacksNetTcp.ITestServiceWithCallbacks"
                name="NetTcpBinding_ITestServiceWithCallbacks" />
            <endpoint address="http://localhost:8080/Gui/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMessageService" contract="MessageService.IMessageService"
                name="BasicHttpBinding_IMessageService" />
        </client>
    </system.serviceModel>
</configuration>