<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMasterDataService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://lwdeu08dtk2ph2:10000/MasterData/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMasterDataService"
                contract="ServiceReference1.IMasterDataService" name="NetTcpBinding_IMasterDataService" />
        </client>
    </system.serviceModel>
</configuration>